.NavigationDrawer{
  
    background: #fff;
    height: 100%;
    left: auto;
    max-width: 27rem;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition: transform 100ms ease-in-out;
    width: 85%;
    z-index: 20;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 4px, rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.Header-logo {
  display: block;
  height: 2rem;
  margin-right: 2.25rem;
  width: 5.125rem;
}
.Header-logo--hidden {
  display: none;
}
.Header-logo--hidden {
  display: none;
}

.header-t{
  color: #202224;
}

.NavigationDrawer.is-active {
  transform: translateX(0);
}

.NavigationDrawer-header {
    align-items: end;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.0625rem solid #eeeeee;
    margin-bottom: 0.5rem;
  }

  .NavigationDrawer-logo {
    display: block;
    height: 2rem;
    margin: 1rem 0 ;
    width: 5.125rem;
  }

  .NavigationDrawer-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .NavigationDrawer-listItem {
    font-size: 1.125rem;
    margin: 0 0.5rem;
    color: #202224;
  }



  .NavigationDrawer-listItem{
    display: block;
    margin: 0 1rem;
    padding: 0.5rem;
  }

  .Header-navOpen{
    background: no-repeat center/2rem url(../);
    border: none;
    height: 2.5rem;
    margin: auto 1rem;
    width: 2.5rem;
  }

  .Site-header {
    background: white;
    border-bottom: none;
    box-shadow: 0 0.0625rem 0.125rem rgba(171, 171, 171, 0.3);
    top: 0;
    width: 100%;
    z-index: 10;
}

.Header, .Container {
    margin: 0 auto;
}

.Header-nav {
    align-items: center;
    display: flex;
    height: 3.5rem;
    justify-content: space-between;
}

.Header-rightContent {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    width: 100%;
}

@media only screen and (min-width: 32rem) {
    .Header-rightContent {
      width: 100%;
    }
}

.Header-menu {
    align-items: stretch;
    display: flex;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.Header-menuItem {
    display: none;
    position: relative;
}

@media only screen and (min-width: 57.7rem) {
    .Header
     {
      padding: 0 1.5rem;
    }
    .Header-menuItem {
      align-items: stretch;
      display: inline-flex;
      flex: none;
      margin: 0 0.3125rem;
    }
    .Header-menu {
      justify-content: flex-end;
    }
    .Header-navOpen {
      display: none;
    }
  }

  .Header-menuItem > a:link,
.Header-menuItem > a:visited {
  align-items: center;
  border-bottom: 0.1875rem solid transparent;
  border-top: 0.1875rem solid transparent; /* To ensure the text remains centered. */
  color: gray;
  display: inline-flex;
  padding: 0 1.5rem;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

a,
a:link,
a:visited {
  color: #202224;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}

.Header--dark .Header-menuItem a:visited {
    color: #202224;
}

.NavigationDrawer-scrim {
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}
.NavigationDrawer.is-active + .NavigationDrawer-scrim {
  background-color: rgba(0, 0, 0, 0.32);
  display: block;
}

.skip-to-content-link {
  background: var(--color-background);
  border-radius: 6px;
  color: var(--color-text);
  font-weight: 500;
  margin: 5px;
  position: absolute;
  overflow: hidden;
  top: 12px;
  clip: rect(0 0 0 0);
  left: 8%;
}