.cont-nav {
    display: flex;
    background-color: #1b1f23;
    color: aliceblue;
    text-align: right;
    margin: 0;
    padding: 0;
    height: 64px;
    
}

.cont-buttons-nav{
    width: 90%;
    
}

.nav-button {
    
    display: inline-block;
    padding: 25px;

}

.nav-link{
    text-decoration: none;
    cursor: pointer;
    font-size: 24px;
    color: aliceblue;
}

.nav-button:hover {
    background-color: #111;

}

.nav-logo {
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    float: left;
    font-size: large;
    
    
}

.logo{
    margin: 0;
    width: 200px;
}

